@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
  font-family: 'Inter', sans-serif;
}

/* Ensure background and corners are clean for extension popup */
html, body {
  width: 320px;
  height: 600px;
  font-size: 17px;
}
